<div class="dev">
	
	<label for="dev-resume">Developer path:</label>
	<div id="dev-resume">
		{{dev.resume}}
	</div>

	<label for="dev-technology">Chose of technology:</label>
	<div id="dev-technology">
		{{dev.tech}}
	</div>

	<label for="dev-environment">Developer environment:</label>
	<div id="dev-environment">
		{{dev.env}}
	</div>

</div>
