/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
/******************************************************/
ul.menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  background-color: #333;
}
ul.menu li a {
    display: inline-block;
    color: #FFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.menu li a:hover:not(.active) {
  background-color: #000;
}

ul.menu li a.active{
  background-color: #F69221;
}
li.active {
    background-color: red;
}


div.input form{
  display:inline;
}

div.forecast,
div.today {
  border: 3px solid #F69221;
  display: inline-table;
  margin:10px;
}

div.today span {
  display: block;
  margin: auto;
}

div.today-weader,
div.forecast-weader {
  border: 3px solid #F69221;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
}

div.today-weader span,
div.forecast-weader span {
  display: block;
  text-align: center;
}

div.dev > div {
  margin:10px;
  background-color: #C8C8C8;
  border: 3px solid #F69221;
  border-radius: 10px;
  display: block;
}
div.dev > label {
  margin:10px;
  width: 0; 
  height: 0; 
  border-bottom: 10px solid #F69221; 
  border-right: 30px solid transparent;
}
