
<div class="input">

	<form novalidate class="simple-form">
	    <label for="input-city">Write the name of a City:</label>
	    <input id= "input-city" type="text" ng-model="city"/>
	    <button ng-click="update(city)">Get weather</button>
	</form>

	<label for="input-capital">Select a Capital:</label>
	<select 
	id="input-capital"
	ng-model="capital" 
	ng-options="capital as capital for capital in capitals.response track by capital"
	ng-change="update(capital)"
	></select>
	
</div>

<div class="today">
	<span>{{ weather.response.title }} - {{weather.response.item.condition.date}}</span>

	<div class="today-weader">
		<img ng-src="{{imagesMap[weather.response.item.condition.text]}}" alt="{{weather.response.item.condition}}" />
		<span>{{weather.response.item.condition.text}}</span>
	</div>

	<div class="today-weader astronomy" >
		<span>sunrise: {{ weather.response.astronomy.sunrise }}</span>
		<img ng-src="http://freevector.co/wp-content/uploads/2014/09/71276-telescope-astronomy-200x200.png" alt="Description" />
		<span>sunset: {{ weather.response.astronomy.sunset }}</span>
	</div>

	<div class="today-weader wind" >
		<span>chill: {{ weather.response.wind.chill }}</span>
		<span>direction: {{ weather.response.wind.direction }}</span>
		<img ng-src="https://d30y9cdsu7xlg0.cloudfront.net/png/7702-200.png" alt="Description" />
		<span>speed: {{ weather.response.wind.speed }}</span>
	</div>

	<div class="today-weader atmosphere" >
		<span>humidity: {{ weather.response.atmosphere.humidity }}</span>
		<span>pressure: {{ weather.response.atmosphere.pressure }}</span>
		<img ng-src="https://d30y9cdsu7xlg0.cloudfront.net/png/151847-200.png" alt="Description" />
		<span>rising: {{ weather.response.atmosphere.rising }}</span>
		<span>visibility: {{ weather.response.atmosphere.visibility }}</span>
	</div>

</div>


<div>
    <button ng-click="hidden=false">Show Forecast</button>
    <button ng-click="hidden=true">Hide Forecast</button>
</div>
<div class="forecast">
	<div class="forecast-weader slide-container" 
	ng-hide="hidden == true" 
	ng-animate="'slide'" 
	ng-repeat="forecast in weather.response.item.forecast">
		<span>{{forecast.date}}</span>
		<img ng-src="{{imagesMap[forecast.text]}}" alt="Description" />
		<span>{{forecast.text}}</span>
	</div>
</div>